@model FoodApplication.Models.Order

<h2>Order Details</h2>


<p>Order Date: @Model.orderDate</p>
<p>Total Price: @Model.totalPrice.ToString("C")</p>
<p>Status: @Model.status</p>

<h3>Order Items</h3>
<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.orderItems)
        {
            <tr>
                <td>@item.productID</td>
                <td>@item.productPrice</td>
                <td>@item.itemQuantity</td>
                <td>@(item.productPrice * item.itemQuantity)</td>
            </tr>
        }
    </tbody>
</table>

<button id="placeOrderBtn" class="btn btn-primary">Place Order</button>


<script type="text/javascript">
        document.getElementById("placeOrderBtn").addEventListener("click", function() {
            // Show alert
            //alert("Your order has been placed!");


            $.ajax({
                    url: '@Url.Content("~/")' + "Cart/PlaceOrder",
                    type: 'POST',
                    
                    success: function (data) {
                        if (data.success) {
                            // Update the total price for the item

                            console.log("QR Code sent to email");
                        } else {
                            alert('Order not placed');
                        }
                    },
                    error: function () {
                        alert('There was an error updating the quantity.');
                    }
                });

            // Send request to create QR code and send email
            //fetch('/Cart/PlaceOrder', {
            //    method: 'POST'
            //}).then(response => response.json)
            //  .then(data => {
            //      if (data.success) {
            //          console.log("QR code sent to email");
            //      } else {
            //          console.error("Failed to place order: ", data.message);
            //      }
            //  })
            //  .catch(error => console.error('Error:', error));
        });
</script>

